<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="CustomerRepository" class="org.example.repository.CustomerRepositoryDB" primary="true" />

    <bean name="CustomerService" class="org.example.service.defaultCustomerService" autowire="byType">
<!--        <constructor-arg index="0" ref="CustomerRepository" />-->
<!--        <property name="CustomerRepository" ref="CustomerRepository" /> -->

    </bean>

</beans>